@font-face {
  font-family: plusJakartaSansExtraBold;
  src: url(../assets/fonts/PlusJakartaSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: plusJakartaSansBold;
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: plusJakartaSansMedium;
  src: url(../assets/fonts/PlusJakartaSans-Medium.ttf);
  font-weight: 500;
}

:root {
  --color-scampi: hsl(234, 25%, 52%);
  --color-bunting: hsl(233, 54%, 16%);
  --color-waterloo: hsl(232, 10%, 56%);
  --color-violet-red: hsl(341, 92%, 62%);
  --color-carnation-pink: hsl(341, 100%, 83%);
  --color-pure-white: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 95%);
  --gradient-persian-rose-persimmon: linear-gradient(to top, hsl(322, 87%, 55%), hsl(13, 100%, 64%));
  --gradient-persian-rose-persimmon-hover: linear-gradient(to top, hsl(322, 88%, 78%), hsl(13, 100%, 82%));
  --gradient-persian-rose-dodger-blue: linear-gradient(to bottom, hsl(237, 100%, 64%), hsl(322, 87%, 55%));
  --gradient-persian-rose-dodger-blue-hover: linear-gradient(to bottom, hsl(265, 71%, 78%), hsl(322, 88%, 78%));
  --gradient-pure-white-titan-white: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(236, 100%, 97%));
  --text-heading-xl: 56px/70px 'plusJakartaSansExtraBold';
  --text-heading-lg: 40px/51px 'plusJakartaSansExtraBold';
  --text-heading-md: 32px/40px 'plusJakartaSansExtraBold';
  --text-heading-md-mobile: 28px/32px 'plusJakartaSansExtraBold';
  --text-heading-sm: 24px/32px 'plusJakartaSansExtraBold';
  --text-heading-xs: 20px/24px 'plusJakartaSansExtraBold';
  --text-body-md: 18px/28px 'plusJakartaSansBold';
  --text-body-md-thin: 18px/28px 'plusJakartaSansMedium';
  --text-body-sm: 16px/28px 'plusJakartaSansBold';
  --text-body-sm-thin: 16px/26px 'plusJakartaSansMedium';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  outline: none;
  border: none;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

html, body {
  overflow-x: hidden;
  background: var(--color-background);
  height: 100vh;
  /* iOS safari fix */
  min-height: -webkit-fill-available;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  background-color: var(--color-pure-white);
}

header,
main,
.hero-text {
  background-color: var(--color-pure-white);
  padding: 16px;
}




button {
  border: none;
  color: var(--color-pure-white);
  font: var(--text-body-sm);
  cursor: pointer;
}

.button-sm {
  width: 140px;
  height: 48px;
  border-radius: 28px;
}

.button-lg {
  width: 167px;
  height: 56px;
  border-radius: 31.5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  position: relative;
  z-index: 1;
}

.bunting {
  color: var(--color-bunting);
}

.bunting-bg {
  background-color: var(--color-bunting);
}

header h3 {
  font: var(--text-heading-sm)
}

header button:hover,
header button:active {
  background: var(--color-scampi);
}

.hero-text h1 {
  margin-top: 0;
  font: var(--text-heading-lg);
}

.text-default {
  font: var(--text-body-sm-thin);
  color: var(--color-waterloo);
}

.hero-text button {
  margin-top: 25px;
  background: var(--gradient-persian-rose-persimmon);
}

.hero-text button:hover,
.hero-text button:active {
  background: var(--gradient-persian-rose-persimmon-hover);
}

.hero-img-container {
  background-color: var(--color-pure-white);
  padding-top: 10px;
}

.mobile-hero-img {
  max-width: 375px;
  display: block;
  margin: 0 auto;
}

.tablet-hero-img,
.desktop-hero-img {
  display: none;
}

main {
  padding-top: 0;
  padding-bottom: 80px;
  background: var(--gradient-pure-white-titan-white);
}

.courses-heading-container {
  padding: 30px;
  border-radius: 10px;
  color: var(--color-pure-white);
  background: var(--gradient-persian-rose-persimmon);
}

.courses-heading {
  font: var(--text-heading-sm);
}

.courses-card {
  position: relative;
  margin-top: 42px;
  border-radius: 10px;
  padding: 30px 28px;
  background-color: var(--color-pure-white);
}

.courses-card-img {
  position: absolute;
  top: -25px;
  left: 28px;
  width: 56px;
  height: 56px;
}

.courses-card-heading {
  font: var(--text-heading-xs);
  margin: 20px 0;
}

a.courses-card-link {
  display: block;
  margin-top: 20px;
  width: 104px;
  font: var(--text-body-md);
  color: var(--color-violet-red);
}

a.courses-card-link:hover,
a.courses-card-link:active {
  color: var(--color-carnation-pink);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 120px;
  color: var(--color-pure-white);
}

footer h1 {
  font: var(--text-heading-md-mobile);
}

footer button {
  background: var(--gradient-persian-rose-dodger-blue);
}

footer button:hover,
footer button:active {
  background: var(--gradient-persian-rose-dodger-blue-hover);
}

@media (min-width: 768px) {

  header,
  main,
  .hero-text,
  footer {
    padding: 24px 40px;
  }

  header h3 {
    font: var(--text-heading-md-mobile);
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pure-white);
    padding-top: 50px;
    padding-bottom: 115px;
  }

  .hero-text {
    flex-basis: 63%;
  }

  .mobile-hero-img {
    display: none;
  }

  .tablet-hero-img {
    position: absolute;
    clip-path: inset(0 310px 0 0);
    display: block;
    right: -310px;
    top: -100px;
    width: 710px;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main > * {
    flex-basis: calc(50% - 6px);
    min-height: 260px;
  }

  main > .courses-heading-container {
    padding-top: 50px;
    align-self: flex-end;
  }

  main {
    padding-bottom: 80px;
  }
  
  .courses-card {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 30px 26px;
  }

  .courses-card-img {
    left: 26px;
  }

  a.courses-card-link {
    margin-top: auto;
  }

}

@media (min-width: 1440px) {

  header,
  main,
  .hero-text,
  footer {
    padding: 24px 165px;
  }

  header h3 {
    font: var(--text-heading-lg);
    font-size: 36px;
  }

  button {
    letter-spacing: 1px;
  }

  .button-sm {
    width: 167px;
    height: 56px;
  }

  .hero-container {
    padding-top: 125px;
    padding-bottom: 125px;
  }

  .hero-text {
    flex-basis: 55%;
  }

  .hero-text h1 {
    font: var(--text-heading-xl);
  }

  .text-default {
    font: var(--text-body-md-thin);
  }

  .button-lg {
    width: 167px;
    height: 63px;
    border-radius: 31.5px;
  }

  .hero-text button {
    margin-top: 35px;
  }

  .tablet-hero-img {
    display: none;
  }

  .desktop-hero-img {
    position: absolute;
    clip-path: inset(0 335px 0 0);
    display: block;
    right: -335px;
    top: -145px;
    width: 1046px;
  }

  main > * {
    flex-basis: calc(33.3333% - 20px);
    min-height: 320px;
  }

  main {
    padding-bottom: 140px;
  }

  main > .courses-heading-container {
    padding-top: 60px;
  }

  .courses-card {
    margin-top: 80px;
    padding: 40px 32px 32px 32px;
  }

  .courses-heading {
    font: var(--text-heading-md);
  }

  .courses-card-heading {
    font: var(--text-heading-sm);
  }

  .courses-card-img {
    left: 32px;
  }

  footer h1 {
    font: var(--text-heading-lg);
    font-size: 36px;
  }

}